<div class="content">
  <div style="border: 0 solid rgb(229, 225, 225);">
    <div>
      <h3>Get weather by enter following location information</h3>
      <ul>
        <li>
          Canadian postal code
        </li>
        <li>
          City name
        </li>
        <li>
          US Zipcode
        </li>
        <li>
          Latitude/Longitude (decimal degree)
        </li>
        <li>
          IP address
        </li>
      </ul>

    </div>
    <form [formGroup]="searchForm" (keydown.enter)="onSubmit()" class="search-form">
      <input type="text" #queryInput class="search-query" formControlName="query" placeholder="Postalcode or city name">
      <button mat-flat-button color="accent" class="search-button" (click)="onSubmit()">SUBMIT</button>
    </form>
  </div>

  <wa-current-panel></wa-current-panel>
</div>