.panel-container {
  margin: 20px 0 0 0;
}

.list-box {
  display: flex;
  flex-direction: row;
  margin: 10px 0 0 0;

  border: 0px solid rgb(155, 153, 153);
}

.city-name {
  font-size: 18px;
  font-weight: bold;
}
